.slide-grid {
  line-height: initial;
  box-sizing: initial;
}

.slide-grid, .slide-grid * {
  display: inline-block;
}

.slide-grid {
  width: 20rem;
  border: 2px solid grey;
  padding: 0.5rem;
}

.tile {
  /* transform-origin: 50% 50%; */
  /* float: left; */
  align-content: center;
  vertical-align: middle;
  height: 5rem;
  width: 5rem;
  text-align: center;
}

.tile > div {
  width: 90%;
  height: 90%;
  border: 1px black solid;
  font-size: 4rem;
  background: white;
}

.tile.blank > div {
  border: 1px solid transparent;
  color: transparent;
  background: transparent;
}

/* .tile:nth-child(4n) {
  margin-right:100%;
} */

.demo {
  margin-top: 2rem;
}